@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body {
  color: rgb(59, 59, 59);
  font-family: 'Noto Serif JP', serif;
  letter-spacing: 1px;
}

a,
a:hover,
a:visited {
  color: rgb(59, 59, 59);
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

img {
  max-width: 100%;
}

h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 36px;
}

nav {
  background-color: rgb(238, 238, 238);
  position: relative;
  /* height: 70px; */
}

#navbox {
  width: 1000px;
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#navbox ul {
  list-style: none;
  display: flex;
  margin-left: 40px;
}

#navbox ul li {
  margin: 0 10px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: rgb(43, 43, 43); */
  width: 120px;
  height: 70px;
}

.main_visual {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url(../img/main_visual.jpg);
  background-size: cover;
}
.main_visual {
  user-select: none;
  position: relative;
}
.title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main_visual h2 {
  color: #fff;
  text-align: center;
  /* line-height: calc(100vh - 70px); */
  font-size: 62px;
  letter-spacing: 6px;
  text-shadow: 1px 2px 8px #808080;
}
.main_visual p {
  font-size: 28px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 2px 4px #808080;
}
.title {
  opacity:0;
}
.title span {
  opacity: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}
.subtitle {
  opacity: 0;
  transition: .6s;
}
.subtitle.show {
  opacity: 1;
}

#main_bg {
  background-color: rgb(241, 241, 241);
}

.news_box {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

.news_box h2 {
  position: relative;
}

.news_box h2::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: rgb(43, 43, 43);
  bottom: -10px;
  left: 0;
}

.news_container {
  margin-top: 60px;
  display: flex;
}

.news_item {
  width: 25%;
  box-sizing: border-box;
  padding-left: 20px;
  border-right: 1px solid rgb(43, 43, 43);
}

.news_item:last-child {
  border: none;
}

.about_us {
  display: flex;
  margin-top: 80px;
}

.about_img {
  width: 50%;
}

.about_img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about_bontent h2 {
  margin-bottom: 30px;
}

.about_bontent {
  box-sizing: border-box;
  padding: 130px 0 0 60px;
}

.lineup {
  margin-top: 80px;
}

.lineup h2,
.lineup p {
  text-align: center;
}

.lineup p {
  margin-top: 30px;
}

.fruit_container {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
}

.fruit_item {
  width: 30%;
}

.cherry {
  width: 1000px;
  max-width: 100%;
  margin: 120px auto 0;
}

.cherry p {
  margin-top: 30px;
}

.cherry_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.cherry_item {
  width: 47%;
  margin-bottom: 30px;
}

.cherry_item h3 {
  margin-top: 10px;
}

.cherry_item p {
  margin-top: 10px;
}

.contact_us {
  width: 1000px;
  max-width: 100%;
  margin: 120px auto 0;
  margin-top: 120px;
  position: relative;
  height: 700px;
}

.contact_content,
.contact_img {
  position: absolute;
}

.contact_img {
  top: 120px;
  left: 0;
  width: 540px;
  max-width: 100%;
}

.contact_content {
  top: 0;
  right: 0;
  background-color: #fff;
  width: 540px;
  max-width: 100%;
  height: 600px;
  box-sizing: border-box;
  padding: 120px 40px 100px 120px;
}

.contact_content p {
  margin-top: 30px;
  line-height: 1.8;
}

.contact_content h3 {
  margin-top: 50px;
  font-weight: bold;
  /* margin-bottom: 14px; */
}

.fotter_container {
  width: 1000px;
  max-width: 100%;
  height: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_titie {
  font-weight: bold;
  font-size: 24px;
}

.footer_spec {
  font-size: 15px;
}

#slider {
  position: relative;
  width: 90%;
  margin: 60px auto 40px;
}

.slide-arrow {
  width: 40px;
  height: 40px;
}

.prev-arrow {
  position: absolute;
  top: 50%;
  left: -43px;
  transform: translateY(-50%);
  z-index: 2;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: -43px;
  transform: translateY(-50%);
  z-index: 2;
}

.hamburger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1002;
  background-color: rgb(43, 43, 43);
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: none;
}

.hamburger-button path {
  fill: #fff;
}

.hamburger-nav ul {
  width: 240px;
  margin: 0 auto;
  list-style: none;
}
.hamburger-nav ul li {
  margin: 12px 0;
}
.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
}

.fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}



@media screen and (max-width: 769px) {
  /* nav {
    height: 110px;
  } */
  .title-text {
    width: 100%;
  }
  
  .main_visual h2 {
    font-size: 36px;
  }
  .main_visual p {
    font-size: 22px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 2px 4px #808080;
  }
  #navbox {
    width: 94%;
    display: block;
    padding-top: 20px;
    height: 110px;
  }

  #navbox ul {
    list-style: none;
    display: flex;
    margin: 10px 0;
  }

  #navbox ul li {
    margin: 0 8px 0 0;
    font-size: 13px;
  }

  .menu {
    width: 80px;
    height: 80px;
  }

  .main_visual {
    height: calc(100vh - 110px);
    background-image: url(../img/main_visual.jpg);
    background-size: cover;
    background-position-x: -100px;
  }

  .news_box {
    width: 90%;
    padding: 40px 0;
  }

  .news_container {
    /* margin-top: 60px; */
    flex-direction: column;
  }

  .news_item {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0px;
    border-right: none;
    margin-bottom: 24px;
  }

  .about_us {
    flex-direction: column;
    width: 90%;
    margin: 20px auto 0;
  }

  .about_bontent {
    box-sizing: border-box;
    padding: 0;
  }

  .about_img {
    width: 100%;
  }

  .about_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .about_bontent h2 {
    margin-bottom: 30px;
  }

  .fruit_container {
    flex-direction: column;
    width: 90%;
    margin: 20px auto 0;
  }

  .fruit_item {
    width: 100%;
  }

  .cherry {
    width: 90%;
    margin: 100px auto 0;
  }

  .cherry h2 {
    text-align: center;
  }

  .cherry p {
    margin-top: 20px;
    text-align: center;
  }

  .cherry_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cherry_item {
    width: 100%;
  }

  .cherry_item p {
    margin-top: 10px;
    text-align: left;
  }

  .contact_us {
    width: 90%;
    margin: 60px auto 0;
    position: static;
    height: auto;
    padding-bottom: 40px;
  }

  .contact_content,
  .contact_img {
    position: static;
  }

  .contact_img {
    margin-top: 20px;
  }

  .contact_content {
    height: auto;
    padding: 30px;
  }

  .contact_content p {
    margin-top: 30px;
    line-height: 1.8;
  }

  .contact_content h3 {
    margin-top: 50px;
    font-weight: bold;
  }

  .fotter_container {
    width: 90%;
    height: 160px;
    margin: 0 auto;
    justify-content: flex-start;
    flex-direction: column;
  }

  .footer_titie {
    font-weight: bold;
    font-size: 24px;
    margin-top: 50px;
  }

  .footer_spec {
    font-size: 15px;
  }

  .prev-arrow {
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
    z-index: 2;
  }
  .next-arrow {
    position: absolute;
    top: 50%;
    right: -4px;
    transform: translateY(-50%);
    z-index: 2;
  }

}